{% extends 'base.html.twig' %}

{% block title %}Localo
{% endblock %}

{% block body %}
	<div class="bg-white dark:bg-gray-800 overflow-hidden relative ">
		<div class="text-start w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
			<h2 class="text-3xl font-extrabold text-black dark:text-white sm:text-4xl">
				<span class="block">
					Vous voulez de la carotte ?
				</span>
				<span class="block text-indigo-500">
					Vous êtes au bon endroit
				</span>
			</h2>
			{% if is_granted('ROLE_USER') %}

			{% else %}

			
			<div class="lg:mt-0 lg:flex-shrink-0">
				<div class="space-x-4 mt-12 inline-flex rounded-md shadow">
					<a href="login"><button type="button" class="py-4 px-6  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
					Se connecter
					</button></a>
					<a href="login"><button type="button" class="py-4 px-6  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
					S'inscrire
					</button></a>
				</div>
			</div>
			{% endif %}
		</div>
		<img src="https://static.vecteezy.com/ti/vecteur-libre/p2/4930354-carotte-vector-line-for-web-presentation-logo-icon-symbol-gratuit-vectoriel.jpg" class="absolute h-full max-w-1/2 hidden lg:block right-0 top-0"/>
	</div>

{% endblock %}
