{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
<div class="bg-gray-200 overflow-hidden min-h-screen grid md:grid-cols-4">
        <div class="col-span-2 col-start-2 mt-5">
	{{ form_start(formProd) }}
        {{ form_widget(formProd) }}

        <button type="submit" class='mt-4 bg-lime-600 hover:bg-indigo-500 text-white rounded p-4 w-full'>Ajouter nouveau produit</button>
    {{ form_end(formProd) }}
</div></div>
{% endblock %}