<aside class="w-64 invisible lg:visible" aria-label="Sidebar">
	<div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800 h-screen">
		<ul class="space-y-2">


			<li>
				<a href="{{path('gestionstock')}}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
					<svg class="h-8 w-8 text-red-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"/>
					</svg>

					<span class="flex-1 ml-3 whitespace-nowrap">Gérer mon stock</span>
				</a>
			</li>

			<li>
				<a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
					<svg class="h-8 w-8 text-red-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
					</svg>
					<span class="flex-1 ml-3 whitespace-nowrap">Modifier ma ferme</span>
				</a>
			</li>
		</li>

		<li>
			<a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
				<svg class="h-8 w-8 text-red-500" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z"/>
					<circle cx="9" cy="19" r="2"/>
					<circle cx="17" cy="19" r="2"/>
					<path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2"/></svg>
				<span class="flex-1 ml-3 whitespace-nowrap">Gérer mes commandes</span>
			</a>
		</li>

		<li>
			<a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
				<svg class="h-8 w-8 text-red-500" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z"/>
					<line x1="18" y1="6" x2="6" y2="18"/>
					<line x1="6" y1="6" x2="18" y2="18"/></svg>

				<span class="flex-1 ml-3 whitespace-nowrap">Supprimer ma ferme</span>
			</a>
		</li>

	</ul>
</div></aside>
