{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
{% for order in orders %}
{{order.id }} {{order.state}} <a href="{{path('detail_order', {id: order.id})}}">Détail</a>
    
{% endfor %}
{% endblock %}
